<div id="_luxbot_content">
    <table width="100%" cellspacing="0" cellpadding="6" border="0" id="_luxbot_links_table" class="table_lines">
        <tbody>
        <tr>
            <th colspan="7">FF Links</th>
        </tr>
        <tr>
            <td><a href="http://donatoborrello.com/stats/">Player Statistics</a></td>
            <td><a href="http://www.lordsofperil.org/forums/bf/">BF Policy</a></td>
            <td><a href="http://donatoborrello.com/stats/sabbing.php">Enemies Sablist</a></td>
        </tr>
        </tbody>
    </table>
    <table width="100%" cellspacing="0" cellpadding="6" border="0" id="_luxbot_links_table" class="table_lines">
        <tbody>
        <tr>
            <th>Recruiters Links</th>
        </tr>
        <tr>
            <td><a href="http://donatoborrello.com/stats/clicks.php">Clitclick</a></td>
        </tr>
        </tbody>
    </table>

